.project
.settings
core/.classpath
resources/.classpath
resources/.settings
rest/.classpath
rest/.project
rest/.settings/
resources/.project
core/target/
resources/target/
rest/target/
*/*.iml
*.iml
*.idea/

.DS_Store
core/.DS_Store
resources/.DS_Store
resources/src/.DS_Store
resources/src/main/.DS_Store
rest/.DS_Store
rest/src/.DS_Store
rest/src/main/.DS_Store
rest/src/main/java/.DS_Store
rest/src/main/java/com/.DS_Store
rest/src/main/java/com/yjdj/.DS_Store
rest/src/main/java/com/yjdj/view/.DS_Store
core/src/test/resources/jdbc_test.properties
