<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.yjdj.view.core.mapper.IReportMapperFS51">


    <resultMap id="fs" type="com.yjdj.view.core.entity.mybeans.THM_FS51">
        <result column="CPXH" property="cpxh" jdbcType="VARCHAR" />
        <result column="CPSMJD" property="cpsmjd" jdbcType="VARCHAR" />
        <result column="GZBW" property="gzbw" jdbcType="VARCHAR" />
        <result column="NUM" property="num" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="selectColumns"> 
	    <![CDATA[ select CPXH,CPSMJD,GZBW,COUNT(XXBH) AS NUM 
	     from THM_FS50]]>
    </sql>

    <sql id="where_fragement">
        where 1=1
        <if test="productModel != null and productModel != '' and productModel.size != 0">
				<![CDATA[and CPXH in]]>
            <foreach collection="productModel" item="item"
                     index="index" open="(" separator="," close=")"> #{item} </foreach>
        </if>
    </sql> 
    
    <sql id="groupby_fragement">
		<![CDATA[ GROUP BY CPXH,CPSMJD,GZBW ]]>
    </sql>
    
    <select id="selectData" resultMap="fs" resultType="com.yjdj.view.core.entity.mybeans.THM_FS51">
        <include refid="selectColumns" />
        <include refid="where_fragement" /> 
        <include refid="groupby_fragement" /> 
    </select>
    
    
    <resultMap id="fs1" type="com.yjdj.view.core.entity.mybeans.MdmProductModel">
        <result column="CPXH" property="productModel" jdbcType="VARCHAR" />
    </resultMap>
    
    <select id="selectCpxh" resultMap="fs1" resultType="com.yjdj.view.core.entity.mybeans.MdmProductModel">
        <![CDATA[ select DISTINCT CPXH from THM_FS50  where CPXH like "%${cpxhLike}%"; ]]>
    </select>
</mapper>

