<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.yjdj.view.core.mapper.IReportMapperFS55">


    <resultMap id="fs" type="com.yjdj.view.core.entity.mybeans.THM_FS55">
        <result column="KUNNR" property="parnr" jdbcType="VARCHAR" />
        <result column="TXTMD" property="txtmd" jdbcType="VARCHAR" />
        <result column="MATNR" property="matnr" jdbcType="VARCHAR" />
        <result column="MAKTX" property="maktx" jdbcType="VARCHAR" />
        <result column="IWERK" property="iwerk" jdbcType="VARCHAR" />
        <result column="ZDATE" property="zdate" jdbcType="VARCHAR" />
        <result column="CONTNBR" property="contnbr" jdbcType="VARCHAR" />
        <result column="CONTITM" property="contitm" jdbcType="VARCHAR" />
        <result column="BSTKD" property="bstkd" jdbcType="VARCHAR" />
        <result column="CONNUM" property="connum" jdbcType="VARCHAR" />
        <result column="LASTCONNUM" property="lastconnum" jdbcType="DOUBLE" />
        <result column="YFHWKPNUM" property="yfhwkpnum" jdbcType="VARCHAR" />
        <result column="FKIMG" property="fkimg" jdbcType="VARCHAR" />
        <result column="NETWR" property="netwr" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="selectColumns"> 
	    <![CDATA[ select KUNNR,TXTMD,MATNR,MAKTX,IWERK,ZDATE,CONTNBR,CONTITM,BSTKD,CONNUM,LASTCONNUM,YFHWKPNUM,FKIMG,NETWR 
	     from THM_FS55_01]]>
    </sql>

    <sql id="where_fragement">
        <trim prefix="WHERE (1=1 AND" prefixOverrides="AND|OR">
        <if test="matnrValue != null and matnrValue.size != 0">
            <![CDATA[ and MATNR in]]>
            <foreach collection="matnrValue" item="item" index="index" open="(" separator="," close=")"> #{item} </foreach>
        </if>
        <if test="matnrInterval != null and matnrInterval.size != 0">
            <foreach collection="matnrInterval" index="index" item="item">
                <!--#{item}-->
                <foreach collection="item" index="start"  item="end" separator="union">
                    OR MATNR BETWEEN #{start} AND #{end}
                </foreach>
            </foreach>
        </if>
        <![CDATA[ and 1=1)]]>
        <if test="vkorgValue != null and vkorgValue != '' and vkorgValue.size != 0">
				<![CDATA[and VKORG in]]>
            <foreach collection="vkorgValue" item="item"
                     index="index" open="(" separator="," close=")"> #{item} </foreach>
        </if>
        <if test="plantValue != null and plantValue != '' and plantValue.size != 0">
				<![CDATA[and IWERK in]]>
            <foreach collection="plantValue" item="item"
                     index="index" open="(" separator="," close=")"> #{item} </foreach>
        </if>
        <if test="kunnrValue != null and kunnrValue != '' and kunnrValue.size != 0">
				<![CDATA[and KUNNR in]]>
            <foreach collection="kunnrValue" item="item"
                     index="index" open="(" separator="," close=")"> #{item} </foreach>
        </if>
        
        <if test="startTime != null and startTime != ''">
				<![CDATA[ and DATE_FORMAT(THM_FS55_01.ZDATE,'%Y%m%d') >= DATE_FORMAT(#{startTime},'%Y%m%d') ]]>
        </if>
        <if test="endTime != null and endTime != ''">
				<![CDATA[ and DATE_FORMAT(THM_FS55_01.ZDATE,'%Y%m%d') <= DATE_FORMAT(#{endTime},'%Y%m%d') ]]>
        </if>
        </trim>
        
    </sql> 
    
    <sql id="orderby_fragement">
		<![CDATA[ ORDER BY KUNNR,IWERK,MATNR,CONTNBR,CONTITM ]]>
    </sql>
    
    <sql id="limit_fragement">
        <if test="flag == 0">
			<![CDATA[ limit #{startitem},#{pageitem}; ]]>
        </if>
    </sql>
    
    
    <select id="selectData" resultMap="fs" resultType="com.yjdj.view.core.entity.mybeans.THM_FS55">
        <include refid="selectColumns" />
        <include refid="where_fragement" /> 
        <include refid="orderby_fragement" /> 
        <include refid="limit_fragement" />
    </select>
    
    
</mapper>

