<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.yjdj.view.core.mapper.IReportMapperKPI1721">

	<resultMap id="fs" type="com.yjdj.view.core.entity.mybeans.THM_KIP1721">
        <result column="lifnr" property="lifnr" jdbcType="VARCHAR" />
        <result column="ekgrp" property="ekgrp" jdbcType="VARCHAR" />
        <result column="order_count" property="order_count" jdbcType="DOUBLE" />
        <result column="ratio_count" property="ratio_count" jdbcType="DOUBLE" />
        <result column="txtmd" property="txtmd" jdbcType="VARCHAR" />
        <result column="rate" property="rate" jdbcType="DOUBLE" />
        <result column="label" property="label" jdbcType="VARCHAR" />
    </resultMap>
	
	<!-- 其他月采购到货正点率 -->
	<select id="selectOrdersSumRate" resultType="java.util.Map">
		<![CDATA[ SELECT tb1.ONTIME_SUM,tb2.PLAN_SUM,ROUND(tb1.ONTIME_SUM/tb2.PLAN_SUM,4)AS RATE 
		FROM (SELECT COUNT(*)AS ONTIME_SUM FROM THM_KPI1721_08 WHERE RATE=1 AND EINDT_YM = SUBSTR(${time},1,6))tb1,
		(SELECT count(*)AS PLAN_SUM FROM(SELECT distinct EBELN, EBELP, LIFNR,EKGRP FROM THM_EKPO_02  WHERE EINDT_YM = SUBSTR(${time},1,6))tb)tb2
 		]]>
	</select>
	<!-- 当月采购到货正点率 -->
	<select id="selectOrdersSumRateNow" resultType="java.util.Map">
		<![CDATA[ SELECT tb1.ONTIME_SUM,tb2.PLAN_SUM,ROUND(tb1.ONTIME_SUM/tb2.PLAN_SUM,4)AS RATE 
		FROM (SELECT COUNT(*)AS ONTIME_SUM FROM THM_KPI1721_08 WHERE RATE=1 AND EINDT >= ${time1} AND EINDT <= ${time2})tb1,
		(SELECT count(*)AS PLAN_SUM FROM(SELECT distinct EBELN, EBELP, LIFNR,EKGRP FROM THM_EKPO_02  WHERE EINDT >= ${time1} AND EINDT <= ${time2})tb)tb2

 		]]>
	</select>
	
	<!-- 供应商正点率 -->
	<select id="selectLifnrOnTimeRate" resultMap="fs" resultType="com.yjdj.view.core.entity.mybeans.THM_KIP1721">
	<![CDATA[ SELECT TB1.LIFNR,tvendor.TXTMD,TB2.ONTIME_COUNT,TB1.ORDER_COUNT,((TB2.ONTIME_COUNT/TB1.ORDER_COUNT)*100) AS RATE FROM 
		(SELECT LIFNR,COUNT(LIFNR) AS ORDER_COUNT FROM THM_EKPO_02 WHERE EINDT_YM = SUBSTR(${time},1,6)  GROUP BY LIFNR)TB1
		LEFT JOIN (SELECT LIFNR,SUM(RATE) AS ONTIME_COUNT FROM THM_KPI1721_08 WHERE EINDT_YM = SUBSTR(${time},1,6) GROUP BY LIFNR)TB2
		ON TB1.LIFNR = TB2.LIFNR
		LEFT JOIN MDM_TVENDOR tvendor ON tvendor.VENDOR = TB1.LIFNR 
    	WHERE TB2.ONTIME_COUNT IS NOT NULL
		GROUP BY TB1.LIFNR ]]>
	</select>
	<!-- 当月供应商正点率 -->
	<select id="selectLifnrOnTimeRateNow" resultMap="fs" resultType="com.yjdj.view.core.entity.mybeans.THM_KIP1721">
	<![CDATA[ SELECT TB1.LIFNR,tvendor.TXTMD,TB2.ONTIME_COUNT,TB1.ORDER_COUNT,((TB2.ONTIME_COUNT/TB1.ORDER_COUNT)*100) AS RATE FROM 
		(SELECT LIFNR,COUNT(LIFNR) AS ORDER_COUNT FROM THM_EKPO_02 WHERE EINDT >= ${time1} AND EINDT <= ${time2}  GROUP BY LIFNR)TB1
		LEFT JOIN (SELECT LIFNR,SUM(RATE) AS ONTIME_COUNT FROM THM_KPI1721_08 WHERE EINDT_YM = SUBSTR(${time1},1,6) GROUP BY LIFNR)TB2
		ON TB1.LIFNR = TB2.LIFNR
		LEFT JOIN MDM_TVENDOR tvendor ON tvendor.VENDOR = TB1.LIFNR 
    	WHERE TB2.ONTIME_COUNT IS NOT NULL
		GROUP BY TB1.LIFNR ]]>
	</select>
	
	<!-- 采购组维度钻取逻辑 -->
	<!-- <select id="selectEkgrpGoDown" resultMap="fs" resultType="com.yjdj.view.core.entity.mybeans.THM_KIP1721">
	<![CDATA[ 
		SELECT TB1.EKGRP,groups.TXTMD,TB2.ONTIME_COUNT,TB1.ORDER_COUNT,ROUND((TB2.ONTIME_COUNT/TB1.ORDER_COUNT)*100,4) AS RATE FROM 
		(SELECT EKGRP,COUNT(EKGRP) AS ORDER_COUNT FROM THM_EKPO_02 WHERE EINDT_YM = SUBSTR(${time},1,6) GROUP BY EKGRP)TB1
		LEFT JOIN (SELECT EKGRP,SUM(RATE) AS ONTIME_COUNT FROM THM_KPI1721_08 WHERE EINDT = SUBSTR(${time},1,6) GROUP BY EKGRP)TB2
		ON TB1.EKGRP = TB2.EKGRP 
		INNER JOIN MDM_TPUR_GROUP groups ON groups.PUR_GROUP = TB1.EKGRP
		GROUP BY TB1.EKGRP
		]]>
	</select> -->
	<select id="selectEkgrpGoDown" resultMap="fs" resultType="com.yjdj.view.core.entity.mybeans.THM_KIP1721">
	<![CDATA[ 
		SELECT TB1.EKGRP,groups.TXTMD,TB2.ONTIME_COUNT,TB1.ORDER_COUNT,((TB2.ONTIME_COUNT/TB1.ORDER_COUNT)*100) AS RATE FROM 
		(SELECT EKGRP,COUNT(EKGRP) AS ORDER_COUNT FROM THM_EKPO_02 WHERE EINDT_YM = SUBSTR(${time},1,6) GROUP BY EKGRP)TB1
		LEFT JOIN (SELECT EKGRP,SUM(RATE) AS ONTIME_COUNT FROM THM_KPI1721_08 WHERE EINDT_YM = SUBSTR(${time},1,6) GROUP BY EKGRP)TB2
		ON TB1.EKGRP = TB2.EKGRP 
		LEFT JOIN MDM_TPUR_GROUP groups ON groups.PUR_GROUP = TB1.EKGRP 
		WHERE TB2.ONTIME_COUNT IS NOT NULL 
		GROUP BY TB1.EKGRP
		]]>
	</select>
	
	<!-- 采购组维度钻取逻辑 -->
	<select id="selectEkgrpByRate" resultMap="fs" resultType="com.yjdj.view.core.entity.mybeans.THM_KIP1721">
	<![CDATA[ SELECT TB.EKGRP,TB.TXTMD,TB.ONTIME_COUNT FROM (
		SELECT TB1.EKGRP,groups.TXTMD,TB2.ONTIME_COUNT,TB1.ORDER_COUNT,((TB2.ONTIME_COUNT/TB1.ORDER_COUNT)*100) AS RATE FROM 
		(SELECT EKGRP,COUNT(EKGRP) AS ORDER_COUNT FROM THM_EKPO_02 WHERE EINDT_YM = SUBSTR(${time},1,6) GROUP BY EKGRP)TB1
		LEFT JOIN (SELECT EKGRP,SUM(RATE) AS ONTIME_COUNT FROM THM_KPI1721_08 WHERE EINDT_YM = SUBSTR(${time},1,6) GROUP BY EKGRP)TB2
		ON TB1.EKGRP = TB2.EKGRP 
		INNER JOIN MDM_TPUR_GROUP groups ON groups.PUR_GROUP = TB1.EKGRP
		WHERE TB2.ONTIME_COUNT IS NOT NULL
		GROUP BY TB1.EKGRP)TB
		WHERE TB.RATE >= ${putRatio1} AND TB.RATE < ${putRatio2} ORDER BY TB.ONTIME_COUNT DESC ]]>
	</select>
	<select id="selectEkgrpByRateSingle" resultMap="fs" resultType="com.yjdj.view.core.entity.mybeans.THM_KIP1721">
	<![CDATA[ SELECT TB.EKGRP,TB.TXTMD,TB.ONTIME_COUNT FROM (
		SELECT TB1.EKGRP,groups.TXTMD,TB2.ONTIME_COUNT,TB1.ORDER_COUNT,((TB2.ONTIME_COUNT/TB1.ORDER_COUNT)*100) AS RATE FROM 
		(SELECT EKGRP,COUNT(EKGRP) AS ORDER_COUNT FROM THM_EKPO_02 WHERE EINDT_YM = SUBSTR(${time},1,6) GROUP BY EKGRP)TB1
		LEFT JOIN (SELECT EKGRP,SUM(RATE) AS ONTIME_COUNT FROM THM_KPI1721_08 WHERE EINDT_YM = SUBSTR(${time},1,6) GROUP BY EKGRP)TB2
		ON TB1.EKGRP = TB2.EKGRP 
		INNER JOIN MDM_TPUR_GROUP groups ON groups.PUR_GROUP = TB1.EKGRP
		WHERE TB2.ONTIME_COUNT IS NOT NULL
		GROUP BY TB1.EKGRP)TB
		WHERE TB.RATE = ${putRatio1} ORDER BY TB.ONTIME_COUNT DESC ]]>
	</select>
	
	<!-- 原材料总金额 -->
	<!-- 每条sql查询结果为一个月内原材料总金额 ，使用union all 将各个月份合并在一起查询 -->
	<select id="selectMaterialMoney" resultMap="fs" resultType="com.yjdj.view.core.entity.mybeans.THM_KIP1721">
	<![CDATA[ 
		SELECT sum(STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${one},1,6) AND FLAG = 'YCL'
		UNION ALL 
		SELECT sum(STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${two},1,6) AND FLAG = 'YCL'
		UNION ALL 
		SELECT sum(STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${three},1,6) AND FLAG = 'YCL'
		UNION ALL 
		SELECT sum(STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${four},1,6) AND FLAG = 'YCL'
		UNION ALL 
		SELECT sum(STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${five},1,6) AND FLAG = 'YCL'
		UNION ALL 
		SELECT sum(STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${six},1,6) AND FLAG = 'YCL'
		UNION ALL 
		SELECT sum(STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${seven},1,6) AND FLAG = 'YCL'
		UNION ALL 
		SELECT sum(STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${eight},1,6) AND FLAG = 'YCL'
		UNION ALL 
		SELECT sum(STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${nine},1,6) AND FLAG = 'YCL'
		UNION ALL 
		SELECT sum(STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${ten},1,6) AND FLAG = 'YCL'
		UNION ALL 
		SELECT sum(STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${eleven},1,6) AND FLAG = 'YCL'
		UNION ALL 
		SELECT sum(STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${twelve},1,6) AND FLAG = 'YCL'
		UNION ALL 
		SELECT sum(STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${thirteen},1,6) AND FLAG = 'YCL'
	 ]]>
	</select>
	<!-- 原材料周转天数 -->
	<!-- 其中每条sql 语句查询出来的是各个月内原材料周转天数，通过 union all 将各个月的原材料周转天数合并一起查 -->
	<select id="selectMaterialDays" resultMap="fs" resultType="com.yjdj.view.core.entity.mybeans.THM_KIP1721">
	<![CDATA[ 
		SELECT (((360*MONTH(${one}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${one}) AND a.MONAT = MONTH(${one}) AND a.ZTYP = 1 and b.ZTYP = 3)/
		(((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = IF(YEAR(${one}) = 2015 AND MONTH(${one}) >=4,201504,CONCAT(YEAR(${one})-1,"12")))
		+(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${one},1,6)))/2))) AS DAYS, SUBSTR(${one},1,6) AS TIME from DUAL
		UNION ALL 
		SELECT (((360*MONTH(${two}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${two}) AND a.MONAT = MONTH(${two}) AND a.ZTYP = 1 and b.ZTYP = 3)/
		(((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = IF(YEAR(${two}) = 2015 AND MONTH(${two}) >=4,201504,CONCAT(YEAR(${two})-1,"12")))
		+(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${two},1,6)))/2))) AS DAYS, SUBSTR(${two},1,6) AS TIME from DUAL
		UNION ALL 
		SELECT (((360*MONTH(${three}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${three}) AND a.MONAT = MONTH(${three}) AND a.ZTYP = 1 and b.ZTYP = 3)/
		(((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = IF(YEAR(${three}) = 2015 AND MONTH(${three}) >=4,201504,CONCAT(YEAR(${three})-1,"12")))
		+(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${three},1,6)))/2))) AS DAYS, SUBSTR(${three},1,6) AS TIME from DUAL
		UNION ALL 
		SELECT (((360*MONTH(${four}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${four}) AND a.MONAT = MONTH(${four}) AND a.ZTYP = 1 and b.ZTYP = 3)/
		(((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = IF(YEAR(${four}) = 2015 AND MONTH(${four}) >=4,201504,CONCAT(YEAR(${four})-1,"12")))
		+(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${four},1,6)))/2))) AS DAYS, SUBSTR(${four},1,6) AS TIME from DUAL
		UNION ALL 
		SELECT (((360*MONTH(${five}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${five}) AND a.MONAT = MONTH(${five}) AND a.ZTYP = 1 and b.ZTYP = 3)/
		(((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = IF(YEAR(${five}) = 2015 AND MONTH(${five}) >=4,201504,CONCAT(YEAR(${five})-1,"12")))
		+(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${five},1,6)))/2))) AS DAYS, SUBSTR(${five},1,6) AS TIME from DUAL
		UNION ALL 
		SELECT (((360*MONTH(${six}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${six}) AND a.MONAT = MONTH(${six}) AND a.ZTYP = 1 and b.ZTYP = 3)/
		(((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = IF(YEAR(${six}) = 2015 AND MONTH(${six}) >=4,201504,CONCAT(YEAR(${six})-1,"12")))
		+(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${six},1,6)))/2))) AS DAYS, SUBSTR(${six},1,6) AS TIME from DUAL
		UNION ALL 
		SELECT (((360*MONTH(${seven}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${seven}) AND a.MONAT = MONTH(${seven}) AND a.ZTYP = 1 and b.ZTYP = 3)/
		(((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = IF(YEAR(${seven}) = 2015 AND MONTH(${seven}) >=4,201504,CONCAT(YEAR(${seven})-1,"12")))
		+(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${seven},1,6)))/2))) AS DAYS, SUBSTR(${seven},1,6) AS TIME from DUAL
		UNION ALL 
		SELECT (((360*MONTH(${eight}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${eight}) AND a.MONAT = MONTH(${eight}) AND a.ZTYP = 1 and b.ZTYP = 3)/
		(((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = IF(YEAR(${eight}) = 2015 AND MONTH(${eight}) >=4,201504,CONCAT(YEAR(${eight})-1,"12")))
		+(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${eight},1,6)))/2))) AS DAYS, SUBSTR(${eight},1,6) AS TIME from DUAL
		UNION ALL 
		SELECT (((360*MONTH(${nine}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${nine}) AND a.MONAT = MONTH(${nine}) AND a.ZTYP = 1 and b.ZTYP = 3)/
		(((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = IF(YEAR(${nine}) = 2015 AND MONTH(${nine}) >=4,201504,CONCAT(YEAR(${nine})-1,"12")))
		+(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${nine},1,6)))/2))) AS DAYS, SUBSTR(${nine},1,6) AS TIME from DUAL
		UNION ALL 
		SELECT (((360*MONTH(${ten}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${ten}) AND a.MONAT = MONTH(${ten}) AND a.ZTYP = 1 and b.ZTYP = 3)/
		(((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = IF(YEAR(${ten}) = 2015 AND MONTH(${ten}) >=4,201504,CONCAT(YEAR(${ten})-1,"12")))
		+(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${ten},1,6)))/2))) AS DAYS, SUBSTR(${ten},1,6) AS TIME from DUAL
		UNION ALL 
		SELECT (((360*MONTH(${eleven}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${eleven}) AND a.MONAT = MONTH(${eleven}) AND a.ZTYP = 1 and b.ZTYP = 3)/
		(((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = IF(YEAR(${eleven}) = 2015 AND MONTH(${eleven}) >=4,201504,CONCAT(YEAR(${eleven})-1,"12")))
		+(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${eleven},1,6)))/2))) AS DAYS, SUBSTR(${eleven},1,6) AS TIME from DUAL
		UNION ALL 
		SELECT (((360*MONTH(${twelve}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${twelve}) AND a.MONAT = MONTH(${twelve}) AND a.ZTYP = 1 and b.ZTYP = 3)/
		(((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = IF(YEAR(${twelve}) = 2015 AND MONTH(${twelve}) >=4,201504,CONCAT(YEAR(${twelve})-1,"12")))
		+(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${twelve},1,6)))/2))) AS DAYS, SUBSTR(${twelve},1,6) AS TIME from DUAL
		UNION ALL 
		SELECT (((360*MONTH(${thirteen}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${thirteen}) AND a.MONAT = MONTH(${thirteen}) AND a.ZTYP = 1 and b.ZTYP = 3)/
		(((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = IF(YEAR(${thirteen}) = 2015 AND MONTH(${thirteen}) >=4,201504,CONCAT(YEAR(${thirteen})-1,"12")))
		+(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_03 WHERE YEARMONTH = SUBSTR(${thirteen},1,6)))/2))) AS DAYS, SUBSTR(${thirteen},1,6) AS TIME from DUAL

	 ]]>
	</select>
	
	<!-- 产成品总金额 -->
	<select id="selectProductMoney" resultMap="fs" resultType="com.yjdj.view.core.entity.mybeans.THM_KIP1721">
	<![CDATA[ 		
		SELECT (STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${one},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'
		UNION ALL
		SELECT (STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${two},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'
		UNION ALL
		SELECT (STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${three},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'
		UNION ALL
		SELECT (STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${four},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'
		UNION ALL
		SELECT (STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${five},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'
		UNION ALL
		SELECT (STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${six},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'
		UNION ALL
		SELECT (STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${seven},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'
		UNION ALL
		SELECT (STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${eight},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'
		UNION ALL
		SELECT (STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${nine},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'
		UNION ALL
		SELECT (STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${ten},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'
		UNION ALL
		SELECT (STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${eleven},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'
		UNION ALL
		SELECT (STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${twelve},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'
		UNION ALL
		SELECT (STOCK_MONEY/10000) AS STOCK_MONEY,YEARMONTH FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${thirteen},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'
		 ]]>
	</select>
	<!-- 产成品周转天数 -->
	<select id="selectProductDays" resultMap="fs" resultType="com.yjdj.view.core.entity.mybeans.THM_KIP1721">
	<![CDATA[ 
		SELECT (((360*MONTH(${one}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${one}) AND a.MONAT = MONTH(${one}) AND a.ZTYP = 1 and b.ZTYP = 3)/
                (((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = IF(YEAR(${one}) = 2015 AND MONTH(${one}) >=4,201504,CONCAT(YEAR(${one})-1,"12")) AND FLAG = 'KC' AND FLAG1 = 'CCP')
                +(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${one},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'))/2))) AS DAYS, SUBSTR(${one},1,6) AS TIME from DUAL
                UNION ALL 
                SELECT (((360*MONTH(${two}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${two}) AND a.MONAT = MONTH(${two}) AND a.ZTYP = 1 and b.ZTYP = 3)/
                (((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = IF(YEAR(${two}) = 2015 AND MONTH(${two}) >=4,201504,CONCAT(YEAR(${two})-1,"12")) AND FLAG = 'KC' AND FLAG1 = 'CCP')
                +(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${two},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'))/2))) AS DAYS, SUBSTR(${two},1,6) AS TIME from DUAL
                UNION ALL 
                SELECT (((360*MONTH(${three}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${three}) AND a.MONAT = MONTH(${three}) AND a.ZTYP = 1 and b.ZTYP = 3)/
                (((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = IF(YEAR(${three}) = 2015 AND MONTH(${three}) >=4,201504,CONCAT(YEAR(${three})-1,"12")) AND FLAG = 'KC' AND FLAG1 = 'CCP')
                +(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${three},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'))/2))) AS DAYS, SUBSTR(${three},1,6) AS TIME from DUAL
                UNION ALL 
                SELECT (((360*MONTH(${four}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${four}) AND a.MONAT = MONTH(${four}) AND a.ZTYP = 1 and b.ZTYP = 3)/
                (((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = IF(YEAR(${four}) = 2015 AND MONTH(${four}) >=4,201504,CONCAT(YEAR(${four})-1,"12")) AND FLAG = 'KC' AND FLAG1 = 'CCP')
                +(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${four},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'))/2))) AS DAYS, SUBSTR(${four},1,6) AS TIME from DUAL
                UNION ALL 
                SELECT (((360*MONTH(${five}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${five}) AND a.MONAT = MONTH(${five}) AND a.ZTYP = 1 and b.ZTYP = 3)/
                (((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = IF(YEAR(${five}) = 2015 AND MONTH(${five}) >=4,201504,CONCAT(YEAR(${five})-1,"12")) AND FLAG = 'KC' AND FLAG1 = 'CCP')
                +(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${five},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'))/2))) AS DAYS, SUBSTR(${five},1,6) AS TIME from DUAL
                UNION ALL 
                SELECT (((360*MONTH(${six}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${six}) AND a.MONAT = MONTH(${six}) AND a.ZTYP = 1 and b.ZTYP = 3)/
                (((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = IF(YEAR(${six}) = 2015 AND MONTH(${six}) >=4,201504,CONCAT(YEAR(${six})-1,"12")) AND FLAG = 'KC' AND FLAG1 = 'CCP')
                +(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${six},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'))/2))) AS DAYS, SUBSTR(${six},1,6) AS TIME from DUAL
                UNION ALL 
                SELECT (((360*MONTH(${seven}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${seven}) AND a.MONAT = MONTH(${seven}) AND a.ZTYP = 1 and b.ZTYP = 3)/
                (((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = IF(YEAR(${seven}) = 2015 AND MONTH(${seven}) >=4,201504,CONCAT(YEAR(${seven})-1,"12")) AND FLAG = 'KC' AND FLAG1 = 'CCP')
                +(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${seven},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'))/2))) AS DAYS, SUBSTR(${seven},1,6) AS TIME from DUAL
                UNION ALL 
                SELECT (((360*MONTH(${eight}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${eight}) AND a.MONAT = MONTH(${eight}) AND a.ZTYP = 1 and b.ZTYP = 3)/
                (((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = IF(YEAR(${eight}) = 2015 AND MONTH(${eight}) >=4,201504,CONCAT(YEAR(${eight})-1,"12")) AND FLAG = 'KC' AND FLAG1 = 'CCP')
                +(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${eight},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'))/2))) AS DAYS, SUBSTR(${eight},1,6) AS TIME from DUAL
                UNION ALL 
                SELECT (((360*MONTH(${nine}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${nine}) AND a.MONAT = MONTH(${nine}) AND a.ZTYP = 1 and b.ZTYP = 3)/
                (((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = IF(YEAR(${nine}) = 2015 AND MONTH(${nine}) >=4,201504,CONCAT(YEAR(${nine})-1,"12")) AND FLAG = 'KC' AND FLAG1 = 'CCP')
                +(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${nine},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'))/2))) AS DAYS, SUBSTR(${nine},1,6) AS TIME from DUAL
                UNION ALL 
                SELECT (((360*MONTH(${ten}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${ten}) AND a.MONAT = MONTH(${ten}) AND a.ZTYP = 1 and b.ZTYP = 3)/
                (((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = IF(YEAR(${ten}) = 2015 AND MONTH(${ten}) >=4,201504,CONCAT(YEAR(${ten})-1,"12")) AND FLAG = 'KC' AND FLAG1 = 'CCP')
                +(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${ten},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'))/2))) AS DAYS, SUBSTR(${ten},1,6) AS TIME from DUAL
                UNION ALL 
                SELECT (((360*MONTH(${eleven}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${eleven}) AND a.MONAT = MONTH(${eleven}) AND a.ZTYP = 1 and b.ZTYP = 3)/
                (((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = IF(YEAR(${eleven}) = 2015 AND MONTH(${eleven}) >=4,201504,CONCAT(YEAR(${eleven})-1,"12")) AND FLAG = 'KC' AND FLAG1 = 'CCP')
                +(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${eleven},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'))/2))) AS DAYS, SUBSTR(${eleven},1,6) AS TIME from DUAL
                UNION ALL 
                SELECT (((360*MONTH(${twelve}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${twelve}) AND a.MONAT = MONTH(${twelve}) AND a.ZTYP = 1 and b.ZTYP = 3)/
                (((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = IF(YEAR(${twelve}) = 2015 AND MONTH(${twelve}) >=4,201504,CONCAT(YEAR(${twelve})-1,"12")) AND FLAG = 'KC' AND FLAG1 = 'CCP')
                +(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${twelve},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'))/2))) AS DAYS, SUBSTR(${twelve},1,6) AS TIME from DUAL
                UNION ALL 
                SELECT (((360*MONTH(${thirteen}))/12)/((SELECT a.ZYYCB - sum(b.ZYYCB) - sum(b.ZGSJY) as ZYYCB FROM MDM_B485 a,MDM_B485 b WHERE a.GJAHR = b.GJAHR and a.MONAT = b.MONAT and a.GJAHR = YEAR(${thirteen}) AND a.MONAT = MONTH(${thirteen}) AND a.ZTYP = 1 and b.ZTYP = 3)/
                (((SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = IF(YEAR(${thirteen}) = 2015 AND MONTH(${thirteen}) >=4,201504,CONCAT(YEAR(${thirteen})-1,"12")) AND FLAG = 'KC' AND FLAG1 = 'CCP')
                +(SELECT SUM(STOCK_MONEY) FROM THM_KPI1516_1721_02 WHERE YEARMONTH = SUBSTR(${thirteen},1,6) AND FLAG = 'KC' AND FLAG1 = 'CCP'))/2))) AS DAYS, SUBSTR(${thirteen},1,6) AS TIME from DUAL
	 ]]>
	</select>
	<!-- STOCK_MONEY 库存金额  , VAL_CLASS 原材料,库存资金占用 下钻 -->
	<select id="selectMaterialGoDown" resultMap="fs" resultType="com.yjdj.view.core.entity.mybeans.THM_KIP1721">
	<![CDATA[ 
		SELECT KPI.TXTMD,KPI.VAL_CLASS,KPI.STOCK_MONEY AS STOCK_MONEY,KPI.YEARMONTH FROM THM_KPI1516_1721_03 KPI WHERE KPI.YEARMONTH = ${YEARMONTH} AND FLAG = '${FLAG}'
                UNION ALL
                SELECT "合计" TXTMD,"" VAL_CLASS,round(SUM(KPI.STOCK_MONEY),2) AS STOCK_MONEY,KPI.YEARMONTH FROM THM_KPI1516_1721_03 KPI WHERE KPI.YEARMONTH = ${YEARMONTH} AND FLAG = '${FLAG}' GROUP BY 1,2
	]]>
	</select>
	
	<!-- 库存资金占用 下钻 ,原材料 无动态下钻 -->
	<select id="selectMaterialDynamicGoDown" resultMap="fs" resultType="com.yjdj.view.core.entity.mybeans.THM_KIP1721">
	<![CDATA[
		SELECT TXTMD,(SUM(NODYNAMIC_MONNEY)) AS NODYNAMIC_MONNEY,(SUM(HALFTOONE_YEAR_MONEY)/10000) AS HALFTOONE_YEAR_MONEY,
		(SUM(ONETOTWO_YEAR_MONEY)/10000)AS ONETOTWO_YEAR_MONEY,(SUM(MORETHANTWO_YEAR_MONEY)/10000)AS MORETHANTWO_YEAR_MONEY
		FROM THM_KPI1721_04 WHERE BUDAT = ${time} AND VAL_CLASS <> '7920' GROUP BY COMP_CODE
		]]>
	</select>
	
	<!-- 库存资金占用 下钻 ,产成品无动态下钻 -->
	<select id="selectProductDynamicGoDown" resultMap="fs" resultType="com.yjdj.view.core.entity.mybeans.THM_KIP1721">
	<![CDATA[ 
		SELECT TXTMD,(SUM(NODYNAMIC_MONNEY))AS NODYNAMIC_MONNEY,(SUM(HALFTOONE_YEAR_MONEY)/10000)AS HALFTOONE_YEAR_MONEY,
		(SUM(ONETOTWO_YEAR_MONEY)/10000)AS ONETOTWO_YEAR_MONEY,(SUM(MORETHANTWO_YEAR_MONEY)/10000)AS MORETHANTWO_YEAR_MONEY
		FROM THM_KPI1721_04 WHERE BUDAT = ${time} AND VAL_CLASS = '7920' GROUP BY COMP_CODE
		]]>
	</select>
	
</mapper>

