.notSearch+div table th{
	background-color:#f5f5f5;
}
.notSearch+div table th {
	text-align:center;
	padding:5px;
	border:1px solid #ddd;
}
.notSearch+div table td{
	border:1px solid #ddd;
}
.ch-kp-nine{
	padding:0 15px;
}
.notSearch+div .table-name,.notSearch+div .table-data{
    margin:0;
}
.notSearch+div .table-data{
    overflow:hidden;
    padding: 0 20px;
    margin-bottom: 10px;
    width: 640px;
}
.ch-kp-nine table{ width: 100%;}
.ch-kp-nine .t_r_title{ width: 100%; }
.ch-kp-nine,.table-name{
    width:640px;
}