.notSearch+div .table-data{
	font-size:12px;
	margin-top: -30px;
	padding:0 18px;
    float: right;
}
.notSearch+div .table-data .export{
	margin-left:20px;
}
.notSearch+div .table-data .hideCol{
	margin-left:20px;
}
.setTime{
	margin-right:15px;
}
.t_r_title{
	margin-top:-15px\9;
}
.hideColBox .t_r_title{
	margin-top:0px\9;
}
/* 表格样式 */
/* .ch-kp-fiftyFour table{width:9000px;}
.ch-kp-fiftyFour .t_r_title{width:9000px;} */

.t_r_title{
    margin-top:0;
}
